.app-header {
  display: flex;
  justify-content: space-between;
  font-size: 33px;
  color: #f7caca;
  padding: 0.5rem;
  border-radius: 14px;
  float: right;
  text-align: center;
  line-height: 65px;
}

.app-header:hover {
  background-color: #e24343
}

.nav {
  float: left;
  word-spacing: 30px;
  padding: 20px;
}

#app-header-btns {
  align-content: center;
  float: right;
  display: inline-flex;
  text-align: center;
  margin-right: 0.25px;
}

#app-header-btns button {
  margin-right: 0.25rem;
}


/*----------------temp_ind-------------------*/



/*------------------------------------------*/