<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>   
    <script src="https://npmcdn.com/moralis@latest/dist/moralis.js"></script>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
  </head>
  <body>
    <header class="app-header">
      <span class="title"><center>IdMS</center></span>
      <div id="app-header-btns"></div>
    </header>

    <section id="content" class="container"></section>
    <section id = "userdocs" class = "container"></section>

    <!-- scripts -->
    <script src="../js/index.js"></script>
  </body>
</html>