<!DOCTYPE html>
<html>
    <head>
        <title> Add Request Page</title>
          
    </head>
    <body>
        <a href="/">Home</a>
        
            <h1>Request Status:</h1>
            <div>
            <%= reason %>
        </div>
    </body>
</html>